---
layout: default
ref: index
lang: zh
---
{% assign home_content = site.home_intro[page.lang] | default: site.home_intro.en %}

<div class="home">

  <section class="home-intro">
    <h1 class="home-intro-title">{{ home_content.title }}</h1>
    <p class="home-intro-body">{{ home_content.body }}</p>
  </section>

  <h2 class="page-heading">{{ home_content.list_heading }}</h2>

  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      {% include post-list-item.html post=post reading_label=home_content.reading_label date_format=home_content.date_format %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">订阅 <a href="{{ "/馈送.xml" | prepend: site.baseurl }}">通过 RSS</a></p>

</div>
