{% assign page_lang = page.lang | default: "en" %}
{% assign page_title = page.title | default: site.title[page_lang] | default: site.title.en %}
{% assign page_description = page.description | default: page.summary | default: page.excerpt | default: site.description[page_lang] | default: site.description.en %}
{% assign feed_path = site.feed[page_lang] | default: site.feed.en %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page_title | strip_html | strip_newlines | strip | escape }}</title>
  <meta name="description" content="{{ page_description | strip_html | strip_newlines | strip | xml_escape }}">
  {% if page.permalink == "/404.html" %}
  <meta name="robots" content="noindex">
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% if page.ref and page.lang %}
  {% assign translated_posts = site.posts | where:"ref", page.ref | sort: "lang" %}
  {% for translated_post in translated_posts %}
  <link rel="alternate" hreflang="{{ translated_post.lang }}" href="{{ translated_post.url | absolute_url }}" />{% endfor %}
  {% assign translated_pages = site.pages | where:"ref", page.ref | sort: "lang" %}
  {% for translated_page in translated_pages %}{% if translated_page.lang %}
  <link rel="alternate" hreflang="{{ translated_page.lang }}" href="{{ translated_page.url | replace:'index.html','' | absolute_url }}" />{% endif %}{% endfor %}
  {% endif %}
  {% if feed_path %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[page_lang] | default: site.title.en | escape }}" href="{{ feed_path | absolute_url }}">
  {% endif %}
</head>
